DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
STORAGE_URL=
EMAIL_API_KEY=
EMAIL_FROM=ROCSAUT <noreply@rocsaut.ca>
CRON_SECRET=your-secret-here
KAGGLE_API_KEY=
KAGGLE_USERNAME=
COLAB_ENDPOINT=
SHOPIFY_TOKEN=
SHOPIFY_DOMAIN=
